<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>工作室配置</title>
    <script src='./js/assist/jquery-3.2.1.min.js'></script>
    <script src='./js/assist/bootstrap-table/bootstrap-table.min.js'></script>
    <script src='./js/assist/bootstrap-table/bootstrap-table-zh-CN.min.js'></script>
    <script src='./js/util.js'></script>
    <script src='./js/assist/layer/layer.js'></script>
    <link href="./css/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="./css/style.css" rel="stylesheet"/>
</head>
<body>
    <div id="detail" class="container">
        <form id="detailForm" action="" name="detailForm">
            <input type="hidden" id="id" name="id" />
            <div class="row">
                <div class="col-md-3">姓名</div>
                <div class="col-md-8"><input type="text" id="name" name="name"/></div>
            </div>
            <div class="row">
                <div class="col-md-3">团队性质</div>
                <div class="col-md-8">
                    <span><input type="checkbox" name="type" value="0"/>摄影</span>
                    <span><input type="checkbox" name="type" value="1"/>化妆</span>
                    <span><input type="checkbox" name="type" value="2"/>主持</span>
                    <span><input type="checkbox" name="type" value="3"/>航拍</span>
                    <span><input type="checkbox" name="type" value="4"/>乐队</span>
                    <span><input type="checkbox" name="type" value="5"/>摄像</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">团队图标</div>
                <div class="col-md-8">
                    <div>
                        <input type="file" id="file" name="file" /><button onclick="upload()">上传</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img src="" id="preview" style="width: 40%;height: 20%"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">状态</div>
                <div class="col-md-8">
                    <span><input type="radio" name="status" value='0' />失效</span>
                    <span><input type="radio" name="status" value='1' checked="checked"/>有效</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">简介</div>
                <div class="col-md-8">
                    <span><textarea type="text" name="introduction"></textarea></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-4"><button class="btn btn-info" onclick="save()">保存</button></div>
                <div class="col-md-4"><button class="btn btn-warning"  onclick="closeShadow()">关闭</button></div>
            </div>
        </form>

    </div>
    <div>
        <button class='btn btn-primary' onclick="showShadow()">增加</button>
        <button class='btn btn-primary' onclick="window.location.href='/'">返回</button>
        <label class="label label-warning">上线团队</label>
        <label class="label label-default">下线团队</label>
        <label class="label label-default">全部团队</label>
    </div>
    <div style="">
        <table id="table"></table>

    </div>
    <script>
        var queryObj = {
            status : 1
        }
        findList();

        function findList(){
            $.ajax({
                url: '/group/findList',
                data: queryObj
            }).then(function(data){
                var list = data.result;
                $('#table').bootstrapTable('destroy').bootstrapTable({
                    searchText:"",
                    columns: [{
                        field: 'id',
                        title: 'id'
                    }, {
                        field: 'name',
                        title: '团队名称'
                    }, {
                        field: 'status',
                        title: '团队状态',
                        formatter: function(value, row, index){
                            if(row.status == 0)return "禁用"
                            if(row.status == 1)return "启用"
                        }
                    }, {
                        field: 'type',
                        title: '团队类型',
                        formatter: function(value, row, index){
                            var type = row.type;
                            type = type.replace("0","摄影");
                            type = type.replace("1","化妆");
                            type = type.replace("2","主持");
                            type = type.replace("3","航拍");
                            return type;
                        }
                    }, {
                        field: 'introduction',
                        title: '简介'
                    }, {
                        title: '操作',
                        events: {
                            'click .label-info': edit,
                            'click .label-danger': del,
                        },
                        formatter: function(){
                            return '<label class="label label-info">编辑</label><label class="label label-danger">删除</label>'
                        }
                    }],
                    data: list
                })
            })
        }
        function del(e, value, row, index){
            $.ajax({
                url: '/group/delete',
                data:{id:row.id},
                type: 'post'
            }).then(function(data){
                layer.msg("删除成功");
                findList();
            })
        }
        function edit(e, value, row, index){
            document.forms.detailForm.reset();
            var keys = Object.keys(row);
            for(var i in keys){
                var key = keys[i];
                var form = $('[name="' + key + '"]');
                if(key == 'photoUrl'){
                    $('#preview').attr("src",$utils.httpUrl + row[key]);
                    continue;
                }
                if(form.is('input')){
                    if(form.attr('type') == 'checkbox'){
                        form.each(function(item){
                            if(row[key].indexOf(this.value) >  -1){
                                $(this).attr("checked",true);
                            }
                        })
                    }else if(form.attr('type') == 'radio'){
                        form.each(function (item) {
                            if(row[key] == this.value){
                                $(this).attr("checked",true);
                                return;
                            }
                        })
                    }else{
                        $('[name="' + key + '"]').val(row[key]);
                    }

                }else{
                    $('[name="' + key + '"]').text(row[key]);
                }
            }
            showShadow();
        }
        function upload(e){
            e = e || window.event;
            e.preventDefault();
            function success(data){
                console.log(data);
                $("#preview").attr("src",$utils.httpUrl + data)
                $("#preview").attr("img-id",data)
            }
            $utils.upload("file",success);
        }
        function save(e){
            e = e || window.event;
            e.preventDefault();
            var formData = new FormData(document.forms.detailForm);
            formData.delete("file");
            formData.append("photoUrl",$('#preview').attr('img-id'));
            var types = formData.getAll('type');
            var type = '';
            for(var i in types){
                type += types[i] + ','
            }
            type = type.substring(0,type.lastIndexOf(','));
            formData.set('type',type);
            $.ajax({
                url: '/group/save',
                data: formData,
                contentType: false,
                processData: false,
                type: 'post'
            }).then(function(data){
                if(data.status == 1){
                    layer.msg("保存成功")
                    document.forms.detailForm.reset();
                    findList();
                }
            })
        }
        function showShadow(){
            $("#detail").show(100);
        }
        function closeShadow(e){
            e = e || window.event;
            e.preventDefault();
            document.forms.detailForm.reset();
            $("#detail").hide(100);
        }
    </script>
</body>
</html>