<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>个人信息配置</title>
    <script src='./js/assist/jquery-3.2.1.min.js'></script>
    <script src='./js/assist/bootstrap-table/bootstrap-table.min.js'></script>
    <script src='./js/assist/bootstrap-table/bootstrap-table-zh-CN.min.js'></script>
    <script src='./js/util.js'></script>
    <script src='./js/assist/layer/layer.js'></script>
    <script src='./js/assist/layui/layui.js'></script>
    <link href="./css/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="./css/style.css" rel="stylesheet"/>
    <link rel="stylesheet" href="./js/assist/layui/css/layui.css"  media="all" />
</head>
<body>
<div id="detail" class="container" style="z-index: 1;display: none">
    <form id="detailForm" action="" name="detailForm" class="layui-form">
        <input type="hidden" id="id" name="id" />
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
                <input type="text" id="name" name="name" placeholder="请输入姓名" lay-verify="required" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">职业类型</label>
            <div class="layui-input-block">
                <input type="radio" name="type" title="摄影" value="0" lay-filter="type"/>
                <input type="radio" name="type" title="化妆" value="1" lay-filter="type"/>
                <input type="radio" name="type" title="主持" value="2" lay-filter="type"/>
                <input type="radio" name="type" title="航拍" value="3" lay-filter="type"/>
                <input type="radio" name="type" title="乐队" value="4" lay-filter="type"/>
                <input type="radio" name="type" title="摄像" value="5" lay-filter="type"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="0" title="女" lay-verify="required"/>
                <input type="radio" name="sex" value="1" title="男" lay-verify="required"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">城市</label>
            <div class="layui-input-block">
                <input type="text" name="city" class="layui-input"  placeholder="请输入所在城市" lay-verify="required"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属团队</label>
            <div class="layui-input-block">
                <select name="groupId" id="groupId" lay-verify="required">

                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图标</label>
            <div class="layui-input-block">
                <button type="button" class="layui-btn" id="photo">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src="" id="preview-file" style="width: 40%;height: 20%"/>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="radio" name="showType" value="0" checked="checked" title="视频" lay-filter="showType"/>
                <input type="radio" name="showType" value="1" title="图片" lay-filter="showType"/>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn video" id="video">
                    <i class="layui-icon">&#xe67c;</i>上传视频
                </button>
                <button type="button" class="layui-btn pic" style="display: none" id="pic">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                </button>
            </div>
        </div>
        <div class="layui-form-item" id="showVideo">
            <div class="layui-input-block">
                <input type="text" id="fileVideo" class="layui-input"  placeholder="请输入已上传完毕的视频或直接上传" value=""/>
                <button type="button" class="btn btn-warning" onclick="previewVideo()">
                    预览
                </button>
            </div>
            <div class="col-md-12">
                <video src="" id="preview-fileVideo" controls="controls" style="width: 40%;height: 20%"/>
            </div>
        </div>
        <div class="layui-form-item" id="showPic" style="display: none">
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <span><input type="radio" name="status" value='0' title="失效"/></span>
                <span><input type="radio" name="status" value='1' checked="checked" title="有效"/></span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">一句话</label>
            <div class="layui-input-block">
                <textarea type="text" name="inShort"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">简介</label>
            <div class="layui-input-block">
                <textarea type="text" name="introduce"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-4"><button class="btn btn-info" onclick="save()">保存</button></div>
            <div class="col-md-4"><button class="btn btn-warning"  onclick="closeShadow()">关闭</button></div>
        </div>
    </form>

</div>
<div>
    <button class='btn btn-primary' onclick="showShadow()">增加</button>
    <button class='btn btn-primary' onclick="window.location.href='/'">返回</button>
    <label class="label label-warning">上线团队</label>
    <label class="label label-default">下线团队</label>
    <label class="label label-default">全部团队</label>
</div>
<div style="">
    <table id="table"></table>

</div>
<script src="../js/personal.js">

</script>
</body>
</html>